
/* NavBar Style */
.bgColor {
    background-color: #EEEBD0!important;
}

.hometag {
    color:#091540 ;
}


/* Footer Style */

.nav-logo {
   padding-left: 35%;
}

.bg-light {
    background-color: #EEEBD0!important;
}


.cardS {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.boox {
    width: 250px;
    margin: 1em;
}
.Quiz {
    font-size: 100px;
}
