@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* NavBar Style */
.bgColor {
    background-color: #EEEBD0!important;
}

.hometag {
    color:#091540;
    font-size: 25px;
    margin: auto;
    font-family: "bangers";
    text-shadow: 1px 1px #55c4ec;
}

.hometag:hover {
    color: #55c4ec!important;
}

.quizlink2 {
    color:#091540;
    font-size: 25px;
    margin: auto;
    font-family: "bangers";
    text-shadow: 1px 1px #55c4ec;
}

.quizlink2:hover {
    color: #55c4ec!important;
}


    
.loginColor {
    background-color: #091540;
    border: #091540
}

.loginSign {
    color: white;
    margin: auto;
}

.loginColor:hover {
    background-color: #55c4ec;
}

.QuizLink:hover {
    color: #55c4ec!important;
}



.bgthis {
    background-image: url("../assets/quizzlypg3.png");
    -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  max-width: 100%!important;
  padding-bottom: 20px;
}



/*BODY on Lander Page*/
.my-5 {
    color: #6457a6;
    font-family: "Bangers";  
    text-shadow: 2px 2px #55c4ec;
    font-size: 50px;
    
}

.lead {
    color: #F03461;
    font-family: "Bangers";  
    text-shadow: 2px 2px #091540;
    font-size: 40px!important;
}

.mb-4 {
    color: #6457a6;
    font-family: "Bangers";  
    text-shadow: 2px 2px #55c4ec;
    font-size: 75px;
}

/*Quiz on landerpage*/
.imageQuiz3 {
    background-image: url("../assets/thomas-lefebvre-aRXPJnXQ9lU-unsplash.jpg");
    background-size: cover;
  max-width: 100%!important;
  height: 100%!important;
  background-repeat: no-repeat;
  width: 250px;
}




/* Footer Style */

.nav-logo {
  margin-left: auto;
  margin-right: auto;
}

.bg-light {
    background-color: #EEEBD0!important;
}





/*Profile page*/

.lead2 {
    color: #F03461!important;
    font-family: "Bangers";  
    text-shadow: 2px 2px #6457a6;
    font-size: 75px;
}

.userInfo {
    text-align: left;
    color: #55c4ec!important;
    font-family: "Bangers";  
    text-shadow: 2px 2px #091540;
    font-size: 35px;
}
