
/* NavBar Style */
.bgColor {
    background-color: #EEEBD0!important;
}

.hometag {
    color:#091540 ;
}


/* Footer Style */

.nav-logo {
   padding-left: 35%;
}

.bg-light {
    background-color: #EEEBD0!important;
}


